* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

 .main {
     width: 100%;
     height: 100vh;
     background-color: rgb(41, 142, 142);
 }
 .container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 15rem;
    height: 4rem;
    translate: -50% -50% ;
    border: solid black 1px;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
 }
 button {
    width: 95%;
    height: 1.4rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    border-color: transparent;
 }
