* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}
body {
    display: flex;
    flex-wrap: wrap;
}

 .main {
     width: 50%;
     height: 50vh;
     background-color: rgb(41, 142, 142);
     border: 1px solid black;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 .container {
    width: 30%;
    height: 20%;
    border: solid black 1px;
    border-radius:8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
 }
 button {
    width: 95%;
    height: 1.4rem;
    background-color: black;
    color: white;
    border-radius: 5px;
    border-color: transparent;
 }
